@page "/posts/pending"

@inject BackendService BackendService;
@inherits PageBase
@using BlogEngine.Core;
<h3>Pending Posts</h3>

<PageMessages @ref="Messages"></PageMessages>

@if (AllPendingPosts == null)
{
    <div>Loading...</div>
}
else
{
    <div class="container-fluid">
        @foreach (var Item in AllPendingPosts)
        {
            <div class="row">
                <div class="col">
                    <h3>@Item.Title</h3>
                    <p>By @Item.User.Login created at @Item.PublishedDate.ToShortDateString() (@(Item.Status != ePostStatus.Approved ? Item.Status.ToString() : ""))</p>
                    <p>
                        @Item.Content
                    </p>

                    <button class="btn btn-info" @onclick="@(x=> GUIBtnDetails_Click(Item.Id))">Details</button>


                </div>

            </div>
        }

    </div>
}


@code {

}
